@import "bourbon/bourbon"

$text-color: #333
$dark-color: #000
$red-color: #981818
$blue-color: #003469
$green-color: #67bc5c

body
	font-family: "RobotoRegular", sans-serif
	color: $text-color
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialised

h1 
	color: #fff
	font-size: 60px
	line-height: 56px
	font-weight: bold
	font-family: "CleanvertisingLight", sans-serif
	margin: 0

section 
	padding: 58px 0 68px
	&.s_dark
		h2, h3, p
			color: #fff

	h2
		color: $blue-color
		font-size: 50px
		line-height: 56px
		font-size: 50px
		margin-bottom: 50px

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none

header 
	min-height: 640px
	background-image: url(../img/top_bg.jpg)
	background-position: top center
	background-size: cover
	color: #fff
	padding-top: 32px
	padding-bottom: 40px

.logo 
	font-size: 40px
	font-family: "RobotoBold", sans-serif
	font-weight: bold

.top_phone 
	text-align: right
	.wrapper 
		.tab
			text-transform: uppercase
			cursor: pointer
		.active
			text-decoration: underline
	.tab_item
		display: none
		font-size: 34px
		font-family: "RobotoBold", sans-sarif

.top_header 
	margin-top: 70px
	h2
		margin: 10px 0 0
		font-family: "CleanvertisingLight", sans-serif
		font-size: 36px

.tabs_header 
	margin-top: 50px
	.tab_item
		display: none
	.tab_item:first-child
		display: block			
	ul, li
		list-style-type: none
		margin: 0
		padding: 0
	li
		padding-left: 40px
		position: relative
		margin-bottom: 12px
	i
		position: absolute
		left: 0
		top: 0
		line-height: 100px
		color: #6F6A67
	.tabs
		.tab
	  	display: inline-block
	  	background-color: rgba(255,255,255,.25)
	  	padding: 15px 18px
	  	text-transform: uppercase
	  	cursor: pointer
	  	float: left
	  	font-family: "RobotoBold", sans-serif
	  	font-size: 16px
	  	+transition(all .25s ease)
	  	&.active
	  		background-color: rgba(255,255,255,.6)
	  		color: #000
	.tab_content
		background-color: rgba(255,255,255,.6)
		padding: 17px 18px 16px
		color: #000
		text-transform: uppercase
		font-family: "RobotoBold", sans-sarif
		font-size: 18px

.button
	border: none
	cursor: pointer
	display: inline-block
	height: 46px
	line-height: 46px
	padding: 0 32px
	background-color: #000
	text-transform: uppercase
	text-align: center
	border-radius: 3px
	color: #fff 
	text-decoration: none
	font-family: "RobotoBold", sans-sarif
	font-size: 16px
	&.btn_red
		background-color: $red-color
	&.btn_green
		background-color: $green-color
	&.btn_blue
		background-color: $blue-color
	&.btn_white
		background-color: #fff
		color: #000

.button_wrap 
	text-align: right

a.button 
	color: #fff
	text-decoration: none






