/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_phone, .logo, .top_header h1, .top_header h2{
		text-align: center;
	}
	.logo{
		margin-bottom: 15px;
	}
	.top_phone .tab_item {
		font-size: 30px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_header {
		margin-top: 30px;
	}
	.top_header h1 {
		font-size: 50px;
		line-height: 50px;
	}
	.top_header h2{
		font-size: 28px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}